* {
  padding: 0px;
  margin: 0px;
}

.fetch-image {
  padding: 20px 20px 0px 20px;
  background-color: lightsteelblue;
}

.image-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.image-details {
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-details div:first-child {
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-details div:last-child {
  padding-bottom: 10px;
}

.image-details img {
  width: 300px;
  height: 300px;
}
