* {
  padding: 0px;
  margin: 0px;
}

.fetch-image {
  padding: 20px 20px 0px 20px;
}

.image-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.image-details {
  padding: 10px 0px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-details div:first-child {
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.image-details div:last-child {
  padding-bottom: 10px;
}

.image-details img {
  width: 200px;
  height: 200px;
}

.loader {
  font-size: 30px;
  font-weight: 600;
  margin: 20px auto;
  width: max-content;
  position: relative;
  display: flex;
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-100%, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-100%, 0, 0) rotate(360deg);
  }
}

.record {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
